@model IEnumerable<Hippo.Models.App>

@{
    ViewData["Title"] = "My Applications";
}

<p>
    <a asp-action="New" class="btn btn-primary">Create a new Application</a>
</p>
@foreach (var item in Model) {
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
      <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
      <a asp-action="Details" asp-route-id="@item.Id">Details</a>
      <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </div>
    <div class="span8">
      <!--Body content-->
    </div>
  </div>
</div>
}
