@model Hippo.Application.EnvironmentVariables.Commands.UpdateEnvironmentVariableCommand;

@{
  ViewData["Title"] = "Edit Environment Variable";
}


<div class="columns is-centered">
    <div class="column is-two-thirds">

        <form asp-action="Edit" class="form">
            <input type="hidden" asp-for="Id" />
            <div class="field">
                <label class="label is-large">Edit Environment Variable</label>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label asp-for="Key" class="label">Key</label>
                </div>
                <div class="field-body is-normal">
                    <div class="field">
                        <input asp-for="Key" class="input is-normal is-medium is-primary" placeholder="/bin/bash" />
                        <p asp-validation-for="Key" class="help is-warning"></p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label asp-for="Value" class="label">Value</label>
                </div>
                <div class="field-body is-normal">
                    <div class="field">
                        <input asp-for="Value" class="input is-normal is-medium is-primary" placeholder="/bin/bash" />
                        <p asp-validation-for="Value" class="help is-warning"></p>
                    </div>
                </div>
            </div>

            <div class="field is-grouped is-horizontal">
                <div class="field-body is-normal">
                    <div class="field">
                        <div class="control is-centered has-text-centered">
                            <button type="submit" value="Add Environment Variable" class="button is-rounded is-success">Add Environment Variable</button>
                            <a asp-action="Index" class="button is-danger is-outlined is-rounded">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body is-normal">
                    <div class="field">
                        <div class="control">
                            <p asp-validation-summary="New" class="help is-alert"></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script type="module" src="~/js/validation.js" defer></script>
}
