<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hippo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Hippo Platform.">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="container">
        <div class="row justify-content-md-center">
            <h1><i class="fa fa-hippo"></i> Hippo</h1>
        </div>
    </header>
    <div class="container">
        <div class="row align-items-start">
            <nav class="navbar navbar-light bg-light col-2 border">
                <div id="menu">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-controller="Apps" asp-action="Index">Applications</a></li>
                            <li><a asp-controller="Accounts" asp-action="Logout">Logout</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Accounts" asp-action="Register">Register</a></li>
                            <li><a asp-controller="Accounts" asp-action="Login">Login</a></li>
                        }
                    </ul>
                </div>
            </nav>
            <section class="col-8">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer class="container fixed-bottom">
        <div class="row justify-content-md-center"><small>Copyright 2021 Microsoft. All Rights Reserved.</small></div>
    </footer>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @* If one of the pages creates a section called scripts, load it here
    *@
    @RenderSection("scripts", false)
</body>
</html>
