version: 2
updates: 
  - package-ecosystem: "nuget"
    directory: "/Hippo"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/Hippo"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"