@model Hippo.Models.Application

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Are you sure?</h3>
        </div>
        <div class="col">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="form-group btn-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
