@model Hippo.ViewModels.AppNewChannelForm

@{
  ViewData["Title"] = "Add an Environment";
}

<div class="columns is-centered">
    <div class="column is-two-thirds">

        <form asp-action="NewChannel" class="form env-new-form">
            <input type="hidden" asp-for="Id" />
            <div class="field">
                <label class="label is-large">Create an Environment</label>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label asp-for="ChannelName" class="label">Name</label>
                </div>
                <div class="field-body is-normal">
                    <div class="field">
                        <input asp-for="ChannelName" class="input is-normal is-medium is-primary" placeholder="a simple identifier like 'latest' or 'staging'" />
                        <p asp-validation-for="ChannelName" class="help is-warning"></p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label asp-for="Domain" class="label">Domain</label>
                </div>
                <div class="field-body is-normal">
                    <div class="field">
                        <input asp-for="Domain" asp-items="Model.Domain" class="input is-medium is-primary" placeholder="e.g. myapp.example.com" />
                        <p asp-validation-for="Domain" class="help is-warning"></p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal is-narrow">
                <div class="field-label is-normal">
                    <label class="label">
                        <!-- Left empty for spacing -->
                    </label>
                </div>
                <div class="field-body is-normal">
                    <a title="Add Environment Variables" class="env-var-toggle is-link" id="envVarToggle"><small><i class="fa fa-plus"></i>&nbsp;<strong>Add Environment Variables</strong></small></a>
                </div>
            </div>
            <div class="field is-horizontal hide" id="envVars">
                <div class="field-label is-normal">
                    <label asp-for="EnvironmentVariables" class="label">Environment Variables
                        <small>(optional)</small>
                    </label>
                </div>
                <div class="field-body is-normal">
                    <div class="field">
                        <textarea asp-for="EnvironmentVariables" asp-items="Model.EnvironmentVariables" class="input is-normal is-medium is-primary" placeholder="Add any environment variables required by your app.&#10&#10eg.&#10FOO=bar">
                        </textarea>
                        <p asp-validation-for="EnvironmentVariables" class="help is-warning"></p>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label is-large">Deployment</label>
            </div>
            <div class="field has-background-white">
                <div class="field is-horizontal">
                    <div class="field-body is-normal radio-wrapper">
                        <input type="radio" name="deploystyle" id="envAuto" value="UseRangeRule" asp-for="SelectedRevisionSelectionStrategy" asp-items="Model.RevisionSelectionStrategies" class="is-large env-radio env-radio-auto">
                        <label class="radio radio-label env-deploy-label has-text-left" for="envAuto">
                            <strong>Auto-deploy</strong>
                            <small>Deploy versions as they are created.</small>
                        </label>
                        <input type="radio" name="deploystyle" id="envManual" value="UseSpecifiedRevision" asp-for="SelectedRevisionSelectionStrategy" asp-items="Model.RevisionSelectionStrategies" class="is-large env-radio env-radio-manual">
                        <label class="radio radio-label env-deploy-label has-text-left" for="envManual">
                            <strong>Selective deploy</strong>
                            <small>Lock deploys to a specific version.</small>
                        </label>
                    </div>

                    <p asp-validation-for="SelectedRevisionSelectionStrategy" class="help is-danger"></p>
                </div>
                <!-- if manual (UseSpecifiedRevision) -->
                <div class="field field-padded is-horizontal hide" id="envManualField">
                    <div class="field-label is-normal">
                        <label asp-for="SelectedRevisionNumber" class="label">Choose a version</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select asp-for="SelectedRevisionNumber" asp-items="Model.Revisions"></select>
                                </div>
                            </div>
                            <p asp-validation-for="SelectedRevisionNumber" class="help is-warning"></p>
                        </div>
                    </div>
                </div>
                <!-- if auto (UseRangeRule) -->
                <div class="field field-padded is-horizontal hide" id="envAutoField">
                    <div class="field-label is-normal">
                        <label asp-for="SelectedRevisionRule" class="label">Version range</label>
                    </div>
                    <div class="field-body is-normal">
                        <div class="field">
                            <input asp-for="SelectedRevisionRule" asp-items="Model.Revisions" class="input is-normal is-medium is-primary" placeholder="*" />
                            <p><small class="is-info">You can choose to deply all versions of your app (enter an <code>*</code>) or limit deploys to a specific range.</small></p>

                            <p><small class="is-info">Examples:<br>
                            To deploy minor releases that follow v1.0, set the range to <code>1<</code>. To follow v1.0 but exclude releases beyond v2.0, set the range to <code>1-2</code>.</small></p>
                            <p asp-validation-for="SelectedRevisionRule" class="help is-warning"></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="field is-grouped is-horizontal">
                <div class="field-body is-normal">
                    <div class="field">
                        <div class="control is-centered has-text-centered">
                            <button type="submit" value="Add Environment" class="button is-rounded is-success">Add Environment</button>
                            <a asp-action="Index" class="button is-danger is-outlined is-rounded">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body is-normal">
                    <div class="field">
                        <div class="control">
                            <p asp-validation-summary="ModelOnly" class="help is-alert"></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
