@model Hippo.ViewModels.LoginForm

@{
    ViewData["Title"] = "Log In";
}

<div class="columns is-centered">
    <div class="column is-two-thirds">
        <div class="box box-login">
            <div class="card-content">
                <form asp-action="Login">
                    <div class="field">
                        <label asp-for="UserName" class="label">Username</label>
                        <div class="control has-icons-left">
                            <input asp-for="UserName" type="text" class="input is-rounded is-medium is-primary" placeholder="e.g. user123" />
                            <span class="icon is-left">
                                <i class="fa fa-user"></i>
                            </span>
                            <p asp-validation-for="UserName" class="help is-warning"></p>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="Password" class="label">Password</label>
                        <div class="control has-icons-left">
                            <input asp-for="Password" type="password" class="input is-rounded is-medium is-primary" />
                            <span class="icon is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                            <p asp-validation-for="Password" class="help is-warning"></p>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <hr />
                            <button type="submit" value="Login" class="button is-rounded is-primary is-large">Login</button>
                            <label asp-for="RememberMe" class="checkbox">
                                <input asp-for="RememberMe" type="checkbox" class="checkbox is-medium" placeholder="topsecret" />
                                Remember me?
                            </label>
                            <span asp-validation-for="RememberMe" class="help is-warning"></span>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div asp-validation-summary="ModelOnly" class="help is-alert"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
