<article *ngIf="error" class="message is-danger">
	<div class="message-header">
		<p>Error</p>
		<button class="delete" aria-label="delete"></button>
	</div>
	<div class="message-body">
		{{error}}
	</div>
</article>

<form [formGroup]="appForm" (ngSubmit)="onSubmit()">
	<div class="columns">
		<div class="column is-half is-offset-one-quarter">
			<nav class="panel is-primary">
				<p class="panel-heading">
					New Application
				</p>
				<div class="panel-block">
					<div class="control">
						<label class="label">Name</label>
						<div class="control has-icons-left has-icons-right">
							<input type="text" formControlName="name"
								[ngClass]="{ 'is-danger': submitted && f['name'].errors }"
								class="input" placeholder="Name your application" />
							<div *ngIf="submitted && f['name'].errors" class="help is-danger">
								<div *ngIf="f['name'].errors['required']">Name is required.</div>
							</div>
							<span class="icon is-left">
								<fa-icon [icon]="faTable"></fa-icon>
							</span>
						</div>
					</div>
				</div>
				<div class="panel-block">
					<div class="control">
						<label class="label">Choose storage</label>
						<div class="control has-icons-left"
						[ngClass]="{ 'is-loading': storageListLoading }">
							<input type="text"
							[(ngModel)]="storageQuery"
							#storageSearchInput
							(ngModelChange)="searchStorages($event)"
							[ngModelOptions]="{standalone: true}"
								class="input" placeholder="Storage ID" />
							<span class="icon is-left">
								<fa-icon [icon]="faSearch"></fa-icon>
							</span>
						</div>
					</div>
				</div>
				<a *ngFor="let storage of storageList" class="panel-block is-active"
				(click)="selectStorage(storage)"
				[ngClass]="{ 'is-active': storage === selectedStorage }">
					<span class="panel-icon">
						<fa-icon [icon]="faDatabase"></fa-icon>
					</span>
					{{ storage }}
				</a>
				<div *ngIf="submitted && f['storageId'].errors" class="panel-block help is-danger">
					<div *ngIf="f['storageId'].errors['required']">Storage ID is required.</div>
				</div>
				<div class="panel-block buttons is-right">
					<button [disabled]="loading" class="button is-primary">
						<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
						Create
					</button>
				</div>
			</nav>
		</div>
	</div>
</form>
