<div *ngIf="channel" class="card">
    <header class="card-header">
        <h1 class="title card-header-title">{{ channel.name }}</h1>
        <button class="button is-small is-danger" (click)="deleteChannel(id)"><fa-icon class="icon" [icon]="faTrash"></fa-icon><span>Delete</span></button>
    </header>
    <div class="card-content">

        <div class="block">
            <app-health-check></app-health-check>
        </div>

        <div class="block">
            <h4 class="title is-4">Environment Variables</h4>
            <app-environment-variable-list [channelId]="id"></app-environment-variable-list>
        </div>
    </div>
    <div class="card-footer">
        <a class="card-footer-item" href="https://{{ channel.domain }}" target="_blank"><span>https://{{ channel.domain }}</span></a>
    </div>
</div>
