<div *ngIf="channel" class="is-flex is-flex-direction-row is-align-items-center is-justify-content-space-between mb-6">
    <div>
        <h1 class="is-size-1">{{channel.appSummary.name}}</h1>
        <a href="https://{{channel.domain}}" target="_blank">{{channel.domain}}</a>
    </div>
    <div *ngIf="channel.appSummary.channels.length > 1 && activeTab != tabs.Settings">
        <div class="dropdown"
            [ngClass]="{ 'is-active': isSelectClicked }"
            (click)="toggleIsSelectClicked()">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span [ngStyle]="{ 'min-width': '150px' }">{{selectedChannel.name}}</span>
                <span class="icon is-small">
                    <fa-icon [icon]="icons.faAngleDown"></fa-icon>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a *ngFor="let channel of channel.appSummary.channels" class="dropdown-item"
                    [ngClass]="{ 'is-active': selectedChannel.id == channel.id }"
                    routerLink="/channel/{{channel.id}}">
                  {{channel.name}}
                </a>
              </div>
            </div>
          </div>
    </div>
</div>


<div class="columns">
    <aside class="menu column is-full-mobile is-one-fifth-tablet">
        <ul class="menu-list">
            <li (click)="changeTab(tabs.Overview)">
                <a [ngClass]="{ 'is-active': activeTab == tabs.Overview }">
                    <span class="icons">
                        <fa-icon [icon]="icons.faChartBar"></fa-icon>
                    </span>
                    Overview
                </a>
            </li>
            <li>
                <a>
                    <span class="icons">
                        <fa-icon [icon]="icons.faStream"></fa-icon>
                    </span>
                    Logs
                </a>
            </li>
            <li>
                <a>
                    <span class="icons">
                        <fa-icon [icon]="icons.faFilter"></fa-icon>
                    </span>
                    Environment
                </a>
            </li>
            <li (click)="changeTab(tabs.Settings)">
                <a [ngClass]="{ 'is-active': activeTab == tabs.Settings }">
                    <span class="icons">
                        <fa-icon [icon]="icons.faCog"></fa-icon>
                    </span>
                    Settings
                </a>
            </li>
        </ul>
    </aside>
    <div class="column has-background-light">
        <app-settings *ngIf="activeTab == tabs.Settings" [appId]="channel.appSummary.id"></app-settings>
    </div>
</div>


