<footer class="copyright" id="copyright">
  <div class="columns">
    <div class="column is-half">
      <p class="inline">
        Copyright 2021 Microsoft. All Rights Reserved.
      </p>
    </div>

    <div class="column is-half">
      <nav class="navbar is-transparent" role="navigation" aria-label="footer navigation">
      <div class="navbar-end">
        <ul class="inline navbar-menu">
          <li class="navbar-item"><a href="https://docs.hippofactory.dev">Docs</a></li>
          <li class="navbar-item"><a href="https://github.com/deislabs/hippo">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
