<nav class="navbar is-wide is-sticky" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" routerLink="/">
			<div class="logo">
				<img src="/assets/logo.svg" alt="banner logo" />
			</div>
		</a>

		<a role="button" class="navbar-burger {{ menuActive }}" aria-label="menu" aria-expanded="false" (click)="onBurger()">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div class="navbar-menu {{ menuActive }}">
		<div class="navbar-end" *ngIf="isLoggedIn(); else elseBlock">
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					<fa-icon class="icon" [icon]="faUser"></fa-icon>
				</a>

				<div class="navbar-dropdown">
					<a class="navbar-item" routerLink="/settings">Settings</a>
					<a class="navbar-item" routerLink="/account">Profile</a>
					<hr class="navbar-divider">
					<a class="navbar-item" (click)="logout()">Log out</a>
				</div>
			</div>
		</div>
		<ng-template #elseBlock>
			<div class="navbar-end">
				<div class="buttons">
					<a class="navbar-item button is-outlined" routerLink="/login">Log in</a>
					<a class="navbar-item button is-primary" routerLink="/register">Sign up</a>
				</div>
			</div>
		</ng-template>
	</div>
</nav>
