<article *ngIf="error" class="message is-danger">
	<div class="message-header">
		<p>Error</p>
		<button class="delete" aria-label="delete"></button>
	</div>
	<div class="message-body">
		{{error}}
	</div>
</article>


<h1 class="title">Applications</h1>
<div class="columns is-multiline">
	<div *ngFor="let app of apps" class="column is-full-tablet is-half-desktop is-third-widescreen box">
		<a routerLink="/app" [queryParams]="{ id: app.id }">
			<div class="card">
				<div class="card-content">
					<p class="title is-size-3">{{ app.name }}</p>
					<p class="subtitle is-size-4">{{ app.id }}</p>
				</div>
			</div>
		</a>
	</div>
</div>
