<article *ngIf="submitted" class="message is-success">
    <div class="message-header">
        <p>Success</p>
    </div>
    <div class="message-body">
        Environment Variables Saved
    </div>
</article>
<article *ngIf="errors && errors.length > 0" class="message is-danger">
    <div class="message-header">
        <p>Error</p>
    </div>
    <div class="message-body">
        <p *ngFor="let error of errors" >
            {{error}}
        </p>
    </div>
</article>
<div *ngIf="!loading" class="box columns is-multiline has-background-light">
    <ng-template [ngIf]="envvars.length <= 0">
        <span class="column is-full">Channel has no environment variables</span>
    </ng-template>
    <ng-template *ngFor="let envvar of envvars"
        [ngIf]="envvars.length > 0">
        <div class="columns column is-full is-multiline">
            <div class="column is-4">
                <input class="input" type="text" placeholder="Env. variable key"
                    [(ngModel)]="envvar.key"
                    (ngModelChange)="inputChanges(envvar)"
                    [ngClass]="{ 'is-danger': envvar.errors && envvar.errors.length > 0 && !envvar.key }">
            </div>
            <div class="column is-4">
                <input class="input" type="text" placeholder="Env. variable value"
                    [(ngModel)]="envvar.value"
                    (ngModelChange)="inputChanges(envvar)"
                    [ngClass]="{ 'is-danger': envvar.errors && envvar.errors.length > 0 && !envvar.value }">
            </div>
            <div class="column is-4 field is-grouped">
                <p class="control">
                    <button (click)="removeVariable(envvar)"
                        class="button is-link is-outlined is-fullwidth">
                        <span class="icon is-small">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </span>
                        <span>Remove</span>
                    </button>
                </p>
                <p class="control">
                    <button (click)="undoChange(envvar)"
                        *ngIf="envvar.isChanged"
                        class="button is-link is-outlined is-fullwidth">
                        <span class="icon is-small">
                            <fa-icon [icon]="faBackward"></fa-icon>
                        </span>
                        <span>Undo</span>
                    </button>
                </p>
            </div>
        </div>
    </ng-template>
    <div class="column is-1">
        <button class="button is-link is-outlined" (click)="addNewVariable()">Add</button>
    </div>
    <div class="column is-2 is-offset-10">
        <button class="button is-link is-outlined is-fullwidth env-save-button is-pulled-right" (click)="save()">
            <span class="icon is-small">
                <fa-icon [icon]="faSave"></fa-icon>
            </span>
            <span>Save</span>
        </button>
    </div>
</div>
<div *ngIf="loading" class="columns box has-background-light">
    <div class="column is-2 is-offset-5">
        <span class="loader is-size-2 m-auto"></span>
    </div>
</div>
