<form [formGroup]="envvarForm" (ngSubmit)="addEnvironmentVariable(channelId)">
    <table class="table is-bordered is-striped is-narrow is-fullwidth mt-4">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let envvar of envvars">
                <td>{{ envvar.key }}</td>
                <td>{{ envvar.value }}</td>
                <td>
                    <button class="button is-small is-danger" (click)="deleteEnvironmentVariable(envvar.id)"><fa-icon class="icon" [icon]="faTrash"></fa-icon><span>Delete</span></button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="control is-small">
                        <input type="text" formControlName="key"
                        [ngClass]="{ 'is-danger': submitted && f['key'].errors }"
                        class="input is-small" placeholder="Key" />
                        <div *ngIf="submitted && f['key'].errors" class="help is-danger">
                            <div *ngIf="f['key'].errors['required']">Key is required.</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="control">
                        <input type="text" formControlName="value"
                        [ngClass]="{ 'is-danger': submitted && f['value'].errors }"
                        class="input is-small" placeholder="Value" />
                        <div *ngIf="submitted && f['value'].errors" class="help is-danger">
                            <div *ngIf="f['value'].errors['required']">Value is required.</div>
                        </div>
                    </div>
                </td>
                <td>
                    <button [disabled]="loading" class="button is-small is-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                        <span>Add</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
