{% extends "base_generic.html" %}

{% block content %}
    <h2>{{ app.name }}</h2>
    <a href="{% url 'apps:update' app.pk %}">(rename)</a>

    <h3>Builds</h3>
    <ul>
    {% for b in app.build_set.all %}
        <li>{{ b.pk }} <a href="{% url 'builds:update' b.pk %}">(edit)</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'builds:new' %}"><input type="submit" value="Add a Build"></a>

    <h3>Environment Variables</h3>
    <ul>
    {% for e in app.environmentvariable_set.all %}
        <li>{{ e.key }}={{ e.value }} <a href="{% url 'envvars:update' e.pk %}">(edit)</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'envvars:new' %}"><input type="submit" value="Add an Environment Variable"></a>

    <h3>Domains</h3>
    <ul>
    {% for d in app.domain_set.all %}
        <li><a href="{% url 'domains:detail' d.pk %}">{{ d.domain }}</a> <a href="{% url 'domains:update' d.pk %}">(edit)</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'domains:new' %}"><input type="submit" value="Add a Domain"></a>

    <h3>Releases</h3>
    <ul>
    {% for r in app.release_set.all %}
        <li><a href="{% url 'releases:detail' r.pk %}">{{ r.version }}</a>
    {% endfor %}
    </ul>
{% endblock %}
