/* Hippo UI Styles
==================
1. Imports
2. Variables
3. Layout Modifiers
4. Nav
5. Sidebar
6. Content Base
7. Responsive Adjustments
*/

/*
  Note
  Running `npm run styles:watch` will rebuild
  these Sass files and recompile the hippo.css
*/


/* 1. Imports
-------------
*/
@import "bulma";

$fa-font-path: "@fortawesome/fontawesome-free/webfonts/";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";


/* 2. Variables
-------------
*/
$purple:  #5E51DC;

$brand:    $purple;
$primary:  $purple;
$purplem: #6856FF;
$blue:    #5683FF;
$bluel:   #C9D0E3;

// darkest
$dark1:   #3E3B53;
$dark2:   #3E3A55;
$dark3:   #7F71F6;
$dark4:   #BAB5DA;

$light1:  #E0DDF4;
$light2:  #ECEBF9;
$light3:  #EFEEF9;
$light4:  #F9F9FE;
// lightest

$green:   #59B252;
$red:     #C0505E;

$active:    $blue;
$success:   $green;
$alert:     $red;
$successl:#54974E;
$alertl:  #D0021B;
$disabled:  $bluel;

$navHeight: 80px;
$sidebarWidth: 380px;
$jost: 'Jost', sans-serif;

@mixin jostType {
  font-family: $jost;
  letter-spacing: 0.02em;
}

@mixin transition($property:all, $duration:0.3s, $easing:ease-in-out) {
  transition: $property $duration $easing;
}

@mixin border-radius($radius1:3px, $radius2:3px) {
  -webkit-border-radius: $radius1 $radius2 $radius1 $radius2;
  -moz-border-radius: $radius1 $radius2 $radius1 $radius2;
  border-radius: $radius1 $radius2 $radius1 $radius2;
}

@mixin box-shadow($xlength:0, $ylength:2px, $size:0, $color:rgba(30,30,30,0.25)) {
  -webkit-box-shadow: $xlength $ylength $size $color;
  -moz-box-shadow: $xlength $ylength $size $color;
  box-shadow: $xlength $ylength $size $color;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 3. Layout Modifiers
-------------
*/
body {
  background: $light3;
  @include jostType;
}

.wrapper {
  position: relative;
  min-height: calc(100vh - #{$navHeight});
  overflow: hidden;
}

.main {
  padding: calc(#{$navHeight}) 2rem 7em calc(#{$sidebarWidth} + 2rem);
  min-height: calc(100vh - 7em);
  transition: 0.2s all ease-out;
  overflow: hidden;

  &.logged-out,
  &.no-app {
    padding: calc(#{$navHeight} * 1.25) 10vw 7em;

    & + .copyright {
      margin-left: 0;
    }
  }
}

.copyright {
  background-color: $light3;
  padding: 1.25rem 1.5rem 0rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: $sidebarWidth;
  padding: 1.4rem 3vw;
  transition: 0.2s all ease-out;
  border-top: 2px solid $light1;

  .navbar {
    background: transparent;
    min-height: 1rem;
    height: auto;
    text-align: right;

    .navbar-menu {
      margin: -0.5rem 0 0;
      padding: 0;

      li.navbar-item {
        line-height: 1;
      }
    }
  }
}


/* 4. Nav
---------
*/
.hero {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  z-index: 1920;
}

.navbar {
  height: $navHeight;
  border-bottom: 1px solid $light2;

  .navbar-brand {
    position: relative;

    .hippo-logo {
      background: $purple;
      background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: block;
      content: " ";
      left: 1.1rem;
      top: 0.925rem;
      position: absolute;
    }

    h1 {
      position: absolute;
      font-weight: 600;
      font-size: 1.67rem;
      left: 7.35vw;
      top: 1.2rem;
      min-width: 250;
      max-width: 50vw;
      @include ellipsis;
    }

    h2 {
      position: absolute;
      font-weight: 400;
      font-size: 0.825rem;
      left: 6.25vw;
      top: 2.825rem;
    }
  }

  .navbar-menu {
    padding-top: 1.125rem;
  }

  select {
    border: 1px solid $dark3;
    border-radius: 2rem;
    padding: 0.667rem 1rem;
    font-size: 1.125rem;
    min-height: 3rem;
    line-height: 1;
    color: $dark2;
    font-family: monospace;
  }

  .navbar-item.has-dropdown {
    a.navbar-link {
      border-left: 1px solid $light2;
      padding-left: 1.35rem;
    }

    em {
      font-style: normal;
      font-weight: bold;
      color: $dark2;
      padding: 0 1.25rem 0 0.425rem;
    }
  }

  .button.app-history {
    border-radius: 3rem;
    margin: -1.075rem 0.5rem 0 0;

    .fa {
      margin-right: 0.5rem;

    }

  }

  .navbar-link:not(.is-arrowless) {
    margin-top: -1.125rem;
  }
}

/* 5. Sidebar
---------
*/
.aside {
  padding: 2rem 0;
  height: calc(100vh - #{$navHeight});
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.2s width ease-out;
  position: fixed;
  top: $navHeight;
  left: 0;
  z-index: 2;
  width: $sidebarWidth;
  @include transition;

  &:after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    content: " ";
    background: $light1;
    z-index: 200;
  }
}


/* 6. Content Base
---------
*/
.main {
  h1, h2, h3, .title {
    font-weight: 600;
    color: $dark1;
    margin-bottom: 0.67em;
  }

  .has-text-primary {
    color: $primary !important;
  }

  .breadcrumb {
    border-bottom: 1px solid $light4;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
  }

  .content-title {
    margin: 2rem 0 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    color: $dark2;
    margin: 2rem 0 1rem;
  }

  h3 {
    font-size: 1.25rem;
    color: $dark2;
  }

  h4 {
    text-transform: uppercase;
    letter-spacing: 0.0875em;
    margin-top: 2.5rem;
    font-weight: 600;
  }
  h5 {
    color: $purplem;
    background: white;
    padding: 0.5rem 0.975rem;
    border-radius: 0.6rem;
    display: inline-block;
    margin: 1.25rem 0;
  }

  p {
    margin: 1rem 0;
  }
}

.truncate {
  @include ellipsis;
  display: inline-block;
  max-width: 82.5%;
}

.box {
  padding: 1.75rem 2rem;

  h2 {
    margin: 0.25rem 0 2rem 0;
  }

  .is-grouped {
    padding-top: 2rem;
  }
}

.box-login,
.box-register {
  margin-top: 5vw;

  .field.is-grouped {
    padding: 1rem 0 0 0;
  }

  label.checkbox {
    margin: 1rem 0 0 2vw;
  }

  .validation-summary-errors {
    li {
      color: $red;
    }
  }
}

input[type="button"],
input[type="button"].button,
input[type="button"].is-rounded,
input[type="submit"],
input[type="submit"].button,
input[type="submit"].is-rounded {
  line-height: 1;
  padding: 0 1.5rem !important;
}

.box-register {
  margin-top: 3.5vw;
}

.app-listing {
  .box {
    position: relative;
    min-height: 10rem;

    .app-link {
      width: 100%;
      min-height: 8rem;
      display: block;

      a.app-url {
        color: $dark2;
        display: block;
        width: 100%;
      }

      h3 {
        font-size: 2rem;
        color: $dark2;
        padding-bottom: 0.67rem;
        margin-bottom: 1.25rem;
        border-bottom: 2px solid $light2;
        overflow-x: hidden;
        display: block;
        width: 100%;
        max-width: 82.5%;
        @include ellipsis;

        .fa {
          color: $blue;
          font-size: 1.125rem;
          opacity: 0;
          padding-left: 0.25rem;
          @include transition;
        }
      }

      h4 {
        color: $dark4;
        margin-top: 0.5rem;
        float: left;
      }

      &:hover {
        h3 .fa {
          opacity: 1;
          padding-left: 1rem
        }
      }
    }

    .dropdown {
      position: absolute;
      right: 1.25rem;
      top: 1.5rem;
    }
  }

  .app-state {
    padding: 0.5rem 1.125rem 0.5rem 0.7rem;
    border-radius: 3rem;
    display: inline-block;
    float: left;
    margin-right: 1.25rem;
    max-width: 75%;
    @include ellipsis;

    .icon {
      position: absolute;

      & + span {
        padding-left: 2rem;
      }
    }
  }

  .app-add {
    border: 3px dashed $light2;
    background: $light4;
    padding: 2.5rem 0;
    border-radius: 0.2rem;
  }
}

.block {
  margin-top: .5em;
}

.message.is-dark .message-body {
  background-color: $light2;
}

.breadcrumb:not(:last-child) {
  margin-bottom: 0;
}

.icon-title {
  margin-right: .5em;
  height: 3rem !important;
  width: 3rem !important;
  background-color: #bd93f9;
  color: #282a36;
  border-radius: .25rem;
}

.field-label {
  text-align: left;
}

.button.is-rounded {
  background: $purple;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  min-width: 6rem;
  padding-bottom: 1.25rem 1.667rem;

  .fa {
    margin-right: 0.333rem;
  }

  &:hover {
    background: darken($purple, 10%);
  }

  &:active,
  &:focus {
    background: $blue;
  }

  &.is-large {
    padding: 1.5rem 2rem;
    min-width: 7.25rem;
  }
}

.button.is-primary {
  background: $purple;
}

p.card-header-title {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  padding: 1.1rem 1.25rem 1rem;
  margin: 0;
}


.env-list,
.rev-list {
  h4 {
    color: $dark3;
    font-weight: bold;
    margin: 0 1.5rem 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
}

// App Channel Tabs
.env-list {
  padding-bottom: 7.25rem;

  .tabs {
    ul {
      display: inline-block;
      padding: 0 1.5rem;
      border: none;
    }

    li.tab {
      width: 100%;
      margin: 0.925rem 0;
      position: relative;

      a {
        border: none;
        padding: 0;
        text-align: left;
        display: block;
        justify-content: normal;
      }

      a.env-block {
        background: $light4;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        display: inline-block;
        width: 100%;
        border: none;
        justify-content: normal;
        position: relative;
        min-height: 8rem;
        box-shadow: 0 1px 3px 0px $dark4;

        &:after {
          width: 4px;
          height: 8rem;
          content: " ";
          background: $dark4;
          opacity: 0;
          position: absolute;
          top: 0;
          right: -1.5rem;
          border-radius: 1rem;
          z-index: 300;
          @include transition;
        }
      }

      .app-state {
        padding: 0.35rem 1rem 0.35rem 0.5rem;
        border-radius: 3rem;
        display: inline-block;
        position: absolute;
        top: 4.875rem;
        max-width: 85%;
        @include ellipsis;

        .icon {
          position: absolute;

          & + span {
            padding-left: 2rem;
          }
        }
      }

      p.env-name {
        font-weight: bold;
        color: $dark1;
        font-size: 1.333rem;
        @include ellipsis;
        max-width: 14.5rem;
      }

      a.env-url {
        position: absolute;
        top: 2.333rem;
        font-size: 0.925rem;
        letter-spacing: 0.02em;
        margin: 0 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: 0.75rem;
        color: $blue;
        background-color: white;
        max-width: 75%;
        @include transition;
        @include ellipsis;

        .fa {
          opacity: 0;
          @include transition;
        }

        &:hover {
          background-color: $light3;

          .fa {
            opacity: 1;
          }
        }
      }

      a.dropdown-item.is-active,
      button.dropdown-item.is-active {
        background: transparent;
        color: $dark2;
      }

      .env-dropdown {
        position: absolute;
        top: 1rem;
        right: 1.25rem;

        .dropdown-trigger .button {
          min-width: 3.5rem;
          text-align: center;
          padding: 0.825rem 1.25rem;
          border-color: $dark4;

          .fa {
            margin-right: 0;
          }
        }

        .dropdown-menu {
          box-shadow: 0 2px 5px 2px $dark4;
          a {
            padding: 0.5rem 1.25rem;
            text-align: right;

            &.is-active {
              background: transparent;
              color: $dark2;
            }
          }
        }
      }

      // tab states
      a.env-block.is-active {
        background: white;
        box-shadow: 0 0 3px 1px $dark4;

        &:after {
          background: $brand;
          opacity: 1;
        }
      }

      &:hover a.env-block {
        &:after {
          background: $dark2;
          opacity: 1;
        }
      }
    }

    .env-add {
      padding: 1rem 2rem;
      border: 3px dashed $light2;
      background: $light4;
      padding: 1.75rem 2rem;
      border-radius: 0.2rem;

      .button {
        background-color: $dark3;
        color: white;
      }
    }
  }

  .env-back {
    background: lighten($light1, 2%);
    padding: 1rem 1.67rem;
    position: fixed;
    bottom: 0rem;
    width: calc(#{$sidebarWidth});
    z-index: 1825;

    a.button-back {
      background: lighten($light4, 2%);
      margin: 0 auto;
      border: none;
      color: $purplem;
      font-weight: 400;
    }
  }
}

.content-list {
  position: relative;
  flex-direction: column;

  h4 {
    margin: 1rem 0;
  }

  .columns {
    flex-direction: column;
  }

  .tab-pane {
    position: fixed;
    display: none;
    background: $light1;
    top: 10rem;
    left: calc(#{$sidebarWidth} + 2rem);
    right: 2rem;
    bottom: 9.67rem;
    z-index: 750;
    border-radius: 0.5rem;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    @include transition;

    &.is-active {
      display: flex;
    }

    .card {
      background: white;
      margin: 2rem;
      min-height: 6.67rem;

      .card-content,
      .columns,
      .column {
        flex-direction: row;
      }

      .has-text-centered {
        padding-top: 2.67rem;
      }

      h2 {
        margin: 0.67rem 0.5rem;
      }
    }

    section.env-rule-summary {
      border-radius: 1.65rem;
      border: 3px solid $light2;
      position: relative;

      small {
        background: white;
        position: absolute;
        padding: 0 0.5rem;
        top: -0.75rem;
        left: 0.925rem;
        color: darken($dark4, 33%)
      }

      p {
        margin: 1.125rem 1.5rem 0.8rem;
      }

      .button {
        position: absolute;
        top: 0.475rem;
        right: 0.825rem;
        border: none;
        padding: 0.67rem 1.125rem
      }
    }

    code {
      color: $dark2;
      border-radius: 0.2em;
      background: $light3;
    }

    ul.rev-list {
      margin: 0 2.5vw;

      li.rev-item {
        line-height: 2.5;
        margin: 0.67rem auto 0.725rem;
        position: relative;

        strong {
          border-radius: 0.5rem;
          background: $dark3;
          color: white;
          padding: 0.25rem 0.5rem;
          margin-right: 0.33rem;
        }

        .rev-not-deployed {
          strong {
            background: darken(desaturate($dark3, 42.5%), 7.5%);
          }
        }

        .fa {
          position: absolute;
          right: 0.75rem;
          cursor: pointer;
          color: $dark3;

          &:hover {
            opacity: 0.7;
          }
        }

        .tag {
          font-weight: bold;
          padding: 0.25rem 0.5rem;
          border-radius: 0.5rem;
          background: $light3;
          color: $dark2;
          font-size: 1rem;
          margin-left: 0.25rem;
          margin-right: 0.25rem;
        }
      }

      pre {
        line-height: 0.67;
        padding: 0.5rem 0.825rem 0;
        margin: 0.5rem 0 0;
        border-radius: 0.67rem;
        display: none;
        background: darken($light1, 3.5%);
      }
    }

    .pagination {
      position: fixed;
      bottom: 6rem;
      left: calc(#{$sidebarWidth} + 2rem);
      right: 2rem;

      .pagination-link.is-current {
        background:$light1;
        color: $dark3;
        border-color: $dark3;
      }
    }
  }
}

.history-wrapper {
  padding: 1rem 1.5rem;
}

table.table {
  background: $light3;
  margin-bottom: 2rem;

  .table td, .table th {
    padding: 0.35rem 0.5rem;
    border: none;
  }
}

.env-new-form {
  .field {
    &.hide {
      display: none;
    }
  }

  .label {
    min-width: 15vw;

    small {
      font-weight: normal;
      color: darken($dark4, 20%);
    }

    &.is-large {
      color:$dark2;
      border-bottom: 2px solid lighten($dark3, 17.5%);
      line-height: 2;
      margin-bottom: 1.5rem;
    }
  }

  a.env-var-toggle {
    position: relative;
    z-index: 850;
  }

  .field-padded {
    padding: 1.5rem 2rem;
  }

  .has-background-white {
    margin-top: -1.5rem;
  }

  label.env-deploy-label {
    max-width: 40vw;
    background: $light4;
    padding: 1.25rem 1rem 1.125rem 3.5rem;
    border-radius: 0.67rem;
    margin: 1rem 1rem;
    border: 1px solid $light1;

    strong,
    small {
      display: block;
    }

    small {
      color: darken($dark4, 22.5%);
      line-height: 1.72;
      font-size: 0.825rem;
    }
  }

  .select,
  .input,
  .textarea {
    max-width: 40vw;
  }

  textarea.input {
    min-height: 7rem;
    font-size: 1rem;
  }
}

.radio-wrapper {
  margin: 0;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }

  .radio-label {
    &:before {
      content: '';
      background: white;
      border-radius: 100%;
      border: 2px solid darken($dark3, 25%);
      display: inline-block;
      width: 1.425em;
      height: 1.4em;
      position: absolute;
      top: 1.75em;
      left: 1rem;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }

  .radio-label.is-active {
    border-color: $dark3;
    &:before {
      background-color: $blue;
      box-shadow: inset 0 0 0 4px $light2;
    }
  }
  &:focus,
  &:hover {
    &:before {
      outline: none;
      border-color: $blue;
    }
  }
  &:disabled {
    &:before {
      box-shadow: inset 0 0 0 4px $light1;
      border-color: darken($light2, 25%);
      background: darken($light2, 25%);
    }
  }
}


/* 7. Responsive
---------
*/

/* Small + Mobile */
@media (max-width: 768px) {
  .main {
    padding: 70px 1em 2em 70px;
  }
  .aside {
    width: 60px;
    overflow: auto;

    &:hover {
      width: $sidebarWidth;
    }
  }
  .aside:not(:hover) {
    .menu-label,
    .menu-text {
      display: none;
    }
  }

  .menu {
    padding-bottom: 70px;
  }
}


/* Tablet + Medium */
@media (max-width: 1023px) {
  .navbar-menu {
    padding: 2px 0 0 0;

    .navbar-link {
      display: flex;
    }

    .navbar-dropdown .navbar-item {
      padding-left: 1.125em;
      padding-right: 1.125em;
    }
  }
}
