<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hippo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Hippo Platform.">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap" rel="stylesheet">
    <link href="~/styles/hippo.css" rel="stylesheet" />
</head>
<body>
  @if (User.Identity.IsAuthenticated) {
    <partial name="_NavAppTopbar" />

    <div class="wrapper">
      <partial name="_NavSidebar" />
      
      <main class="main" id="main">
        <partial name="_NavBreadcrumb" />
        
        <div class="level mt-2 mr-2 content-title">
          <div class="level-left">
            <div class="level-item">
              <div class="title has-text-primary">
                <span><text>@ViewBag.Title</text></span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="columns is-multiline">
          <div class="column is-12">
            @RenderBody()
          </div>
        </div>
        
      </main>
      <partial name="_Footer" />
    </div>

  } else {
    
    <div class="wrapper">

      <main class="main logged-out" id="main">
        <div class="columns is-multiline">
          <div class="column is-12">
            @RenderBody()
          </div>
        </div>
      </main>
    </div>
  }
  
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @* If one of the pages creates a section called scripts, load it here
    *@
    @RenderSection("scripts", false)
</body>
</html>
