<header class="hero">
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="#" class="hippo-logo">&nbsp;</a>
        <h1 class="hippo-app-name">
           example/weatherapp
        </h1>
        <h2>
           <a class="hippo-app-url" href="https://weatherapp.github.io/" target="_blank">
            weatherapp.github.io
          </a>
        </h2>
        <button class="button navbar-burger" data-target="navMenu">
          <span></span> <span></span> <span></span>
        </button>
      </div>
      
      <div class="navbar-menu navbar-end" id="navMenu">
        <div class="select is-normal navbar-item">
          <select>
            <option>0.1.0</option>
            <option>0.0.9</option>
            <option>0.0.8</option>
            <option>0.0.7</option>
          </select>
        </div>
        
        <a class="button is-primary is-large is-rounded navbar-item" href="#">
          <span class="icon is-small"><i class="fa fa-plus"></i> <span>Release</span></span>
        </a>
        
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon is-small"><i class="fa fa-user-o"></i> </span>
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="https://mazipan.space/" target="_blank" rel="noopener noreferrer">
              <span class="icon is-small"><i class="fa fa-user-o"></i> </span>&nbsp;
              Account
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              <span class="icon is-small"><i class="fa fa-power-off"></i> </span>&nbsp;
              Logout
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
  