<input type="checkbox" id="sidebar-trigger" role="button">
<label for="sidebar-trigger" id="sidebar-toggler">
  <span class="icon">
    <i class="fa fa-angle-double-left"></i>
  </span>
</label>

<aside id="main-sidebar" class="aside">
  <nav class="menu active-menu--home">
    <ul class="menu-list">
      <li class="menu-link menu-link-overview">
        <a class="is-active" href="/home">
          <span class="icon is-small">
            <i class="fa fa-cubes"></i>
          </span>
          <span class="menu-text">Overview</span>
        </a>
      </li>
      <li class="menu-link menu-link-releases">
        <a class="" href="/releases">
          <span class="icon is-small">
            <i class="fa fa-history"></i>
          </span>
          <span class="menu-text">Releases</span>
        </a>
      </li>
      <li class="menu-link menu-link-domains">
        <a class="" href="/channels/">
          <span class="icon is-small">
            <i class="fa fa-link"></i>
          </span>
          <span class="menu-text">Domains</span>
        </a>
      </li>
      <li class="menu-link menu-link-environment">
        <a class="" href="/environment-vars">
          <span class="icon is-small">
            <i class="fa fa-sliders"></i>
          </span>
          <span class="menu-text">Environment</span>
        </a>
      </li>
    </ul>
  </nav>
  <a href="./home" title="Dashboard" class="button button-back">Back to Dashboard</a>
</aside>
