<nav class="breadcrumb is-small" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">
        Dashboard
      </a>
    </li>
  </ul>
</nav>
