<div id="terminal"></div>

@section Styles {
    @{await Html.RenderPartialAsync("_TerminalStylesPartial");}
}

@section Scripts {
    @{await Html.RenderPartialAsync("_TerminalScriptsPartial");}
    <script>
        var term = new Terminal();
        term.open(document.getElementById('terminal'));

        function runFakeTerminal() {
            if (term._initialized) {
                return;
            }

            term._initialized = true;

            term.prompt = () => {
                term.write('\r\n$ ');
            };

            term.writeln('Welcome to Hippo\'s Administrator Console');
            term.writeln('This is a local terminal emulator. It is not tied to anything yet.');
            term.writeln('Type some keys and commands to play around.');
            term.writeln('');
            prompt(term);

            term.onData(e => {
                switch (e) {
                    case '\r': // Enter
                    case '\u0003': // Ctrl+C
                        prompt(term);
                        break;
                    case '\u007F': // Backspace (DEL)
                        // Do not delete the prompt
                        if (term._core.buffer.x > 2) {
                            term.write('\b \b');
                        }
                        break;
                    default: // Print all other characters for demo
                        term.write(e);
                }
            });
        }

        function prompt(term) {
            term.write('\r\n><> ');
        }
        runFakeTerminal();
    </script>
}
