<div class="tabs">
    <ul>
        <li [ngClass]="{ 'is-active': activeTab == tabs.Channels }"
            (click)="changeTab(tabs.Channels)">
            <a>Channels</a>
        </li>
        <li (click)="changeTab(tabs.Logs)"
            [ngClass]="{ 'is-active': activeTab == tabs.Logs }">
            <a>Logs</a>
        </li>
        <li (click)="changeTab(tabs.Settings)"
            [ngClass]="{ 'is-active': activeTab == tabs.Settings }">
            <a>Settings</a>
        </li>
    </ul>
</div>

<app-channel-list *ngIf="activeTab == tabs.Channels" [appId]="id"></app-channel-list>
<app-logs *ngIf="activeTab == tabs.Logs" [appId]="id" [channleId]="activeChannelId"></app-logs>
<app-settings *ngIf="activeTab == tabs.Settings" [appId]="id"></app-settings>
