# Code files
[*.{cs,vb}]

# Ignore dispose issues for tests

dotnet_diagnostic.CA1001.severity = none

# Ignore visible instance fields

dotnet_diagnostic.CA1051.severity = none

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = none

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none
